/* || General styles */
/* body,p,he,h2,ul,table,links etc */
body{
    font-family: Frank Ruhl Libre,Georgia,serif;
    color: #353535;
    background-color: #FEFAE0;
    /* jiyoung added April 3, 2022*/
    display: grid;  
    grid-template-areas: 
            "topHeader topHeader topHeader topHeader",
            "sideMenu mainNav mainNav mainNav",
            "sideMenu content content content",
            "sideMenu foot foot foot";
    grid-template-columns : 1fr 1fr auto auto;
    justify-content: space-between;
    /* jiyoung added April 3, 2022 */

}

/* jiyoung added April 3,2022 */
#topHeader > img {
    width: 80px;
    height: 80px;
    float:left;
    padding-left: 10px;
}

#topHeader > h1 {
    float: left;
    padding-left: 300px;
}

/* jiyoung added April 3, 2022 */
#topHeader {
    grid-area: topHeader;
    margin-top: 10px;
    border: 2px solid black;
    width: 1000px;
    height: 80px;
    top:0px;
    left:20px;
    position: fixed;
  
}

/* jiyoung added April 3, 2022 */
#mainNav {
    grid-area: mainNav;
    width: 1000px;
    height: 40px;
    border: 3px solid red;   /*  test */
    position:fixed;
    top: 90px;
    left:20px;
    display: flex;   /*Menu options */
    flex-direction:row;  /*Menu options */
    justify-content:space-around;  /*Menu options */
    background-color:rgb(232, 232, 25);  /* Navigation Background color*/
}

/* jiyoung added April 3, 2022 */
#mainNav > a {
    text-decoration: none;   /* delete underline on the menu oprions */
    padding-top: 10px; 
    color: rgb(59, 48, 3);
    font-weight: bold;
    
}

/* jiyoung Added April 3, 2022 */
#contents {
    grid-area : content;
    width: 1000px;
    height: auto;
    border: 2px solid green; /* test */
    top: 135px;
    left: 20px;
    position:fixed;
}

/* jiyoung Added April 3, 2022*/
#foot {
    grid-area: foot;
    border: 2px solid blue; /* test */
    width: 1000px;
    height: auto;
    position: fixed;
    top: 340px;
    left: 20px;
    text-align: right;

}

/* jiyoung Added April 3, 2022
footer {
    grid-area: foot;

} */


/* || Typography */



/* || Header and Main Navigation */

/* The side navigation menu */
.sidenav {
    grid-area: sideMenu;  /* jiyoung added  April 3,2022*/
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */ 
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* main {
    /* transition: margin-left .5s;
    padding: 20px; */
/* } */



/* || Mobile First */
/*CSS for medium width screens*/
@media (min-width: 480px) {
    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*CSS for wide screens*/
@media (min-width: 800px) {
}

/*CSS for really wide screens*/
@media (min-width: 1100px) {
}

